In [ ]:
#imports
import pandas as pd

In [21]:
#read
df_2024 = pd.read_excel("CPBL_batter_2024.xlsx")
df_2025 = pd.read_excel("CPBL_batter_2025.xlsx")
df = pd.concat([df_2024, df_2025], ignore_index=True)

In [22]:
#first view
df.head()

,球員,背號,PA,AVG,OBP,SLG,ISO,BABIP,BIP%,OPS,OPS+,tOPS+,RC,wOBA,BB%,BB/K,K%,PutAway%,隊伍
0,岳政華,92,504,0.242,0.322,0.329,0.088,0.290,70.7,0.651,88.5,81.7,45.2,0.298,9.3,0.547,17.1,34.4,中信兄弟
1,王威晨,9,299,0.297,0.360,0.416,0.119,0.320,81.1,0.777,124.0,115.9,40.2,0.344,8.4,0.962,8.7,19.0,中信兄弟
2,陳俊秀,29,378,0.290,0.385,0.417,0.128,0.363,62.9,0.802,131.9,123.6,50.8,0.360,12.2,0.568,21.4,40.5,中信兄弟
3,陳子豪,1,344,0.276,0.355,0.515,0.239,0.307,62.5,0.870,149.8,140.7,55.0,0.372,10.8,0.507,21.2,41.5,中信兄弟
4,詹子賢,39,288,0.258,0.340,0.333,0.075,0.328,67.7,0.674,95.0,88.1,28.1,0.309,10.1,0.492,20.5,36.9,中信兄弟

In [23]:
df.info()
df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307 entries, 0 to 306
Data columns (total 19 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   球員        307 non-null    object
 1   背號        307 non-null    int64
 2   PA        307 non-null    int64
 3   AVG       307 non-null    float64
 4   OBP       307 non-null    float64
 5   SLG       307 non-null    float64
 6   ISO       307 non-null    float64
 7   BABIP     303 non-null    float64
 8   BIP%      307 non-null    float64
 9   OPS       307 non-null    float64
 10  OPS+      307 non-null    float64
 11  tOPS+     307 non-null    float64
 12  RC        307 non-null    float64
 13  wOBA      307 non-null    float64
 14  BB%       307 non-null    float64
 15  BB/K      300 non-null    float64
 16  K%        307 non-null    float64
 17  PutAway%  305 non-null    float64
 18  隊伍        307 non-null    object
dtypes: float64(15), int64(2), object(2)
memory usage: 45.7+ KB

球員          0
背號          0
PA          0
AVG         0
OBP         0
SLG         0
ISO         0
BABIP       4
BIP%        0
OPS         0
OPS+        0
tOPS+       0
RC          0
wOBA        0
BB%         0
BB/K        7
K%          0
PutAway%    2
隊伍          0
dtype: int64

In [24]:
# clean
df = df.dropna() #有缺失值的欄位
df = df[df["PA"] > 100] #drop掉打席過少的noise
df = df.drop(columns = ["OPS","tOPS+"]) #drop調資訊重複的欄
df['背號'] = df['背號'].astype(str) #將被號轉為類別

In [25]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 159 entries, 0 to 306
Data columns (total 17 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   球員        159 non-null    object
 1   背號        159 non-null    object
 2   PA        159 non-null    int64
 3   AVG       159 non-null    float64
 4   OBP       159 non-null    float64
 5   SLG       159 non-null    float64
 6   ISO       159 non-null    float64
 7   BABIP     159 non-null    float64
 8   BIP%      159 non-null    float64
 9   OPS+      159 non-null    float64
 10  RC        159 non-null    float64
 11  wOBA      159 non-null    float64
 12  BB%       159 non-null    float64
 13  BB/K      159 non-null    float64
 14  K%        159 non-null    float64
 15  PutAway%  159 non-null    float64
 16  隊伍        159 non-null    object
dtypes: float64(13), int64(1), object(3)
memory usage: 22.4+ KB

,PA,AVG,OBP,SLG,ISO,BABIP,BIP%,OPS+,RC,wOBA,BB%,BB/K,K%,PutAway%
count,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000
mean,285.918239,0.260836,0.321874,0.357931,0.097113,0.308270,72.357862,98.610692,31.174843,0.304384,7.132075,0.451868,17.509434,35.376730
std,126.256518,0.036567,0.041197,0.071357,0.051955,0.040286,6.615167,30.286461,19.284351,0.042179,2.609023,0.234577,5.442016,8.873864
min,101.000000,0.179000,0.207000,0.208000,0.016000,0.203000,51.700000,25.000000,4.900000,0.195000,1.900000,0.083000,5.200000,13.300000
25%,168.000000,0.238500,0.297000,0.315500,0.060500,0.281000,67.700000,80.500000,14.850000,0.280000,5.350000,0.290000,13.550000,30.300000
50%,273.000000,0.264000,0.321000,0.347000,0.082000,0.305000,72.700000,95.000000,27.500000,0.300000,6.800000,0.400000,17.500000,34.600000
75%,385.500000,0.285000,0.346500,0.403500,0.121000,0.334500,76.500000,118.150000,44.250000,0.333500,8.900000,0.563000,20.600000,40.250000
max,530.000000,0.353000,0.421000,0.603000,0.285000,0.430000,86.500000,192.500000,90.300000,0.423000,14.300000,1.478000,32.800000,60.000000

In [26]:
df.to_csv("base_cleaned_data.csv", index=False)