In [1]:
#import
import pandas as pd 
import numpy as np

In [2]:
#read
CPBL_data = pd.read_excel("CPBL_hitter.xlsx")

In [3]:
#first view
CPBL_data.head()

,球員,背號,PA,AVG,OBP,SLG,ISO,BABIP,BIP%,OPS,OPS+,tOPS+,RC,wOBA,BB%,BB/K,K%,PutAway%,隊伍
0,蔡琞傑,18,6,0.400,0.500,0.400,0.000,0.667,50.0,0.900,168.0,166.1,1.0,0.420,16.7,0.500,33.3,50.0,中信兄弟
1,黃韋盛,66,344,0.274,0.326,0.348,0.074,0.340,71.5,0.675,99.1,98.3,34.8,0.304,6.4,0.324,19.8,36.2,中信兄弟
2,王威晨,9,370,0.293,0.341,0.355,0.062,0.338,79.4,0.696,105.7,104.8,41.5,0.314,7.0,0.531,13.2,25.1,中信兄弟
3,許基宏,74,410,0.292,0.390,0.525,0.233,0.332,59.5,0.915,168.5,168.1,68.7,0.393,12.0,0.563,21.2,42.0,中信兄弟
4,陳俊秀,29,229,0.240,0.336,0.357,0.117,0.285,65.9,0.693,104.7,103.9,23.0,0.315,11.4,0.591,19.2,37.0,中信兄弟

In [4]:
CPBL_data.info()
CPBL_data.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163 entries, 0 to 162
Data columns (total 19 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   球員        163 non-null    object
 1   背號        163 non-null    int64
 2   PA        163 non-null    int64
 3   AVG       163 non-null    float64
 4   OBP       163 non-null    float64
 5   SLG       163 non-null    float64
 6   ISO       163 non-null    float64
 7   BABIP     162 non-null    float64
 8   BIP%      163 non-null    float64
 9   OPS       163 non-null    float64
 10  OPS+      163 non-null    float64
 11  tOPS+     163 non-null    float64
 12  RC        163 non-null    float64
 13  wOBA      163 non-null    float64
 14  BB%       163 non-null    float64
 15  BB/K      158 non-null    float64
 16  K%        163 non-null    float64
 17  PutAway%  162 non-null    float64
 18  隊伍        163 non-null    object
dtypes: float64(15), int64(2), object(2)
memory usage: 24.3+ KB

球員          0
背號          0
PA          0
AVG         0
OBP         0
SLG         0
ISO         0
BABIP       1
BIP%        0
OPS         0
OPS+        0
tOPS+       0
RC          0
wOBA        0
BB%         0
BB/K        5
K%          0
PutAway%    1
隊伍          0
dtype: int64

In [5]:
# clean
CPBL_data = CPBL_data.dropna() #有缺失值的欄位
CPBL_data = CPBL_data[CPBL_data["PA"] > 10] #drop掉打席過少的noise
CPBL_data = CPBL_data.drop(columns = ["OPS+","tOPS+"]) #drop調資訊重複的欄
CPBL_data['背號'] = CPBL_data['背號'].astype(str) #將被號轉為類別

In [6]:
CPBL_data.info()
CPBL_data.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 137 entries, 1 to 162
Data columns (total 17 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   球員        137 non-null    object
 1   背號        137 non-null    object
 2   PA        137 non-null    int64
 3   AVG       137 non-null    float64
 4   OBP       137 non-null    float64
 5   SLG       137 non-null    float64
 6   ISO       137 non-null    float64
 7   BABIP     137 non-null    float64
 8   BIP%      137 non-null    float64
 9   OPS       137 non-null    float64
 10  RC        137 non-null    float64
 11  wOBA      137 non-null    float64
 12  BB%       137 non-null    float64
 13  BB/K      137 non-null    float64
 14  K%        137 non-null    float64
 15  PutAway%  137 non-null    float64
 16  隊伍        137 non-null    object
dtypes: float64(13), int64(1), object(3)
memory usage: 19.3+ KB

,PA,AVG,OBP,SLG,ISO,BABIP,BIP%,OPS,RC,wOBA,BB%,BB/K,K%,PutAway%
count,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000
mean,194.489051,0.231825,0.292591,0.312161,0.080321,0.280591,71.205839,0.604730,20.132117,0.273942,6.753285,0.413314,19.363504,38.007299
std,151.957236,0.061846,0.065207,0.102941,0.058385,0.065092,8.786962,0.160071,19.802280,0.065816,3.740322,0.302196,8.021633,12.538093
min,11.000000,0.056000,0.083000,0.056000,0.000000,0.071000,27.800000,0.161000,0.100000,0.082000,0.000000,0.000000,5.200000,13.300000
25%,52.000000,0.199000,0.267000,0.255000,0.045000,0.250000,66.500000,0.509000,3.600000,0.240000,4.400000,0.222000,14.500000,30.300000
50%,166.000000,0.241000,0.302000,0.318000,0.071000,0.292000,72.000000,0.622000,13.300000,0.284000,6.500000,0.356000,18.200000,36.400000
75%,331.000000,0.274000,0.334000,0.360000,0.112000,0.331000,76.500000,0.693000,34.600000,0.312000,8.900000,0.531000,23.100000,45.200000
max,521.000000,0.354000,0.400000,0.603000,0.285000,0.412000,86.500000,1.000000,77.500000,0.423000,21.400000,2.000000,66.700000,85.700000